
body {
	margin: 0;
	padding: 0;
}

.lottery , .lottery button,.lottery  input,.lottery  select,.lottery  textarea {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.lottery{
	color: #4a4a4a;
    font-size: 16px;
    font-weight: 400;
	line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
	overflow-x: hidden;
	text-rendering: optimizeLegibility;
	padding: 50px;
	background: #333;
}

.lottery *{
	background: #333
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

.lottery canvas {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2333;
	border: 0px solid #000;
	pointer-events: none;
}

.lottery .avatar {
	text-align: center;
	height: 128px;
	width: 128px;
}

.lottery .avatar .image {
	margin: 0;
	display: inline-block;
	height: 128px;
	width: 128px;
}

.lottery .avatar .image img {
	border-radius: 100%;
	height: 100%;
	width: 100%;
}

.lottery #selector .image {
	position: absolute;
	left: 0;
	top: 0;
	border: 4px solid #FFF;
	border-radius: 100%;
	box-sizing: content-box;
	height: 128px;
	width: 128px;
	/*box-shadow: 0 0 100px 3000px rgba(10, 10, 10, 0.3);*/
}

.lottery .actions {
	position: fixed;
	right: 20px;
	bottom: 20px
}

.lottery .actions .button {
	display: block;
	width: 128px;
	height: 128px;
	line-height: 128px;
	text-align: center;
	border-radius: 128px;
	font-size: 64px;
	cursor: hand;
}

.lottery .actions .button.primary{
	background-color: #00d1b2;
	color: #fff;
}

.lottery .actions .button.primary:active,
.lottery .actions .button.primary:hover{
    background-color: #00c4a7;
    color: #fff;
}

.lottery .actions .button.success{
    background-color: #23d160;
    border-color: transparent;
    color: #fff;
}

.lottery .actions .button.success:active,
.lottery .actions .button.success:hover{
    background-color: #20bc56;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
    color: #fff;
}

.lottery .modal-close {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: rgba(10, 10, 10, 0.2);
	border: none;
	border-radius: 290486px;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	height: 20px;
	outline: none;
	position: relative;
	vertical-align: top;
	width: 20px;
	background: none;
	height: 40px;
	position: fixed;
	right: 20px;
	top: 20px;
	width: 40px;
  }
  
  .lottery .modal-close:before, .modal-close:after {
	background-color: white;
	content: "";
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
			transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-webkit-transform-origin: center center;
			transform-origin: center center;
  }
  
  .lottery .modal-close:before {
	height: 2px;
	width: 50%;
  }
  
  .lottery .modal-close:after {
	height: 50%;
	width: 2px;
  }
  
  .lottery .modal-close:hover, .lottery .modal-close:focus {
	background-color: rgba(10, 10, 10, 0.3);
  }
  
  .lottery .modal-close:active {
	background-color: rgba(10, 10, 10, 0.4);
  }
  

  .lottery .modal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 0;
    position: fixed;
    z-index: -1;
	bottom: 0;
    left: 0;
    right: 0;
	top: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	overflow: hidden;
	transition: all .2s ease-in;
}

.lottery .modal.is-active {
	opacity: 1;
	z-index: 1;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.lottery .modal-background {
	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
	top: 0;
	z-index: -1;
	background-color: rgba(10,10,10,0.8)
}

.lottery .modal-content {
	text-align: center;
	margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 640px;
}

.lottery .modal-content>h1 {
	font-size: 128px;
	z-index: 2;
	position: relative;
	transform: rotate(6deg);
	overflow: hidden;
	width: 160px;
	margin: 0 auto;
	padding-left: 20px;
	margin-top: -40px
}

.lottery .modal-content .avatar-image>img {
	width: 200px;
	height: 200px;
	border-radius: 128px;
	margin-top: -72px;
	border: 6px solid #e4bb3c;
	box-sizing: content-box
}

.lottery .modal-content .profile-name {
	font-size: 64px;
	color: #eee;
	margin-top: 16px
}

.lottery .modal-content .profile-subtitle {
	color: #ddd;
	font-size: 42px
}

.lottery .modal-close {
	height: 86px;
	width: 86px
}

.lottery .columns{
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.lottery .column {
	flex: 1 0 auto;
	display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: 0.75rem;
}