.dh-lottery {
	margin: 0;
	background: #333;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	color: #4a4a4a;
    font-size: 16px;
    font-weight: 400;
	line-height: 1.5;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    min-width: 300px;
	text-rendering: optimizeLegibility;
	padding: 4%;
	min-height: 100%;
    box-sizing: border-box;
}

.dh-lottery *{
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

.dh-icon {
		font-style: normal;
		font-size: 0;
	}

	.dh-icon > svg {
		height: 64px;
		width: 64px;
		color: #FFC825;
		margin: 18px;
	}

	.is-mac .dh-icon-dice {
		line-height: 105px;
	}

	.dh-icon-dice > svg {
		color: #fff;
	}

	.dh-icon-okay > svg {
		color: #FFD860;
	}

	.dh-icon-crown > svg {
		margin: 8px;
		height: 200px;
		width: 120px;
	}

	.is-mac .dh-icon {
		font-size: 1em;
	}
	.is-mac .dh-icon > svg {
		display: none;
	}

.running-lottery .dh-lottery .profile{
	opacity: 0.4;
	transition: all 0.5s;
}

.running-lottery .dh-lottery .profile.current{
	opacity: 1;
}

.dh-lottery canvas {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 2333;
	border: 0px solid #000;
	pointer-events: none;
}

.dh-lottery .avatar {
	text-align: center;
}

.dh-lottery .avatar .image {
	margin: 0;
	display: inline-block;
	height: 128px;
	width: 128px;
}

.dh-lottery .avatar .image img {
	border-radius: 100%;
	height: 100%;
	width: 100%;
}

#dh-lottery-selector .image {
	position: absolute;
	left: 0;
	top: 0;
	border: 4px solid #FFF;
	border-radius: 100%;
	box-sizing: content-box;
	height: 128px;
	width: 128px;
	/*box-shadow: 0 0 100px 3000px rgba(10, 10, 10, 0.3);*/
}

.dh-lottery .actions {
	position: absolute;
	right: 20px;
	bottom: 20px;
	display: flex;
}

.dh-lottery .actions .button {
	display: block;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	border-radius: 80px;
	font-size: 56px;
	cursor: hand;
	margin-right: 20px;
}

.dh-lottery .actions .button.primary{
	background-color: #00d1b2;
	color: #fff;
}

.dh-lottery .actions .button.primary:active,
.dh-lottery .actions .button.primary:hover{
    background-color: #00c4a7;
    color: #fff;
}

.dh-lottery .actions .button.success{
    background-color: #23d160;
    border-color: transparent;
    color: #fff;
}

.dh-lottery .actions .button.success:active,
.dh-lottery .actions .button.success:hover{
    background-color: #20bc56;
    border-color: transparent;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2);
    color: #fff;
}

.dh-lottery .columns{
	display: -webkit-box;
    display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.dh-lottery .column {
	flex: 1 0 auto;
	display: block;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding: 1vw;
}

.dh-modal-close{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background-color: rgba(10, 10, 10, 0.2);
	border: none;
	border-radius: 290486px;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	height: 20px;
	outline: none;
	position: relative;
	vertical-align: top;
	width: 20px;
	background: none;
	height: 40px;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 40px;
  }
  
  .dh-modal-close:before, .dh-modal-close:after {
	background-color: white;
	content: "";
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
			transform: translateX(-50%) translateY(-50%) rotate(45deg);
	-webkit-transform-origin: center center;
			transform-origin: center center;
  }
  
  .dh-modal-close:before {
	height: 2px;
	width: 50%;
  }
  
  .dh-modal-close:after {
	height: 50%;
	width: 2px;
  }
  
  .dh-modal-close:hover, .dh-modal-close:focus {
	background-color: rgba(10, 10, 10, 0.3);
  }
  
  .dh-modal-close:active {
	background-color: rgba(10, 10, 10, 0.4);
  }
  

  .dh-modal {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 0;
    position: absolute;
    z-index: -1;
	bottom: 0;
    left: 0;
    right: 0;
	top: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
	overflow: hidden;
	transition: all .2s ease-in;
}

.dh-modal.is-active {
	opacity: 1;
	z-index: 99999;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.dh-modal-background {
	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
	top: 0;
	z-index: -1;
	background-color: rgba(10,10,10,0.8)
}

.dh-modal-content {
	text-align: center;
	margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 100%;
}

.dh-modal-content .profile-item{
	width: 20vw;
	display: inline-block;
	font-size: 40px;
}

.dh-modal-content>h1 {
	font-size: 128px;
	display: inline-block;
	z-index: 2;
	position: relative;
	transform: rotate(5deg);
	overflow: hidden;
	width: 160px;
	margin: 0 auto;
	padding-left: 20px;
	margin-top: -40px
}

.dh-modal-content .avatar-image>img {
	width: 200px;
	height: 200px;
	border-radius: 128px;
	margin-top: -72px;
	border: 6px solid #FFC825;
	box-sizing: content-box
}

.dh-modal-content .profile-name {
	font-size: 64px;
	color: #eee;
	margin: 16px 0;
	font-weight: 600;
}

.dh-modal-content .profile-subtitle {
	color: #ddd;
	font-size: 42px;
	margin: 12px 0;
	font-weight: 600;
}

.dh-modal-content .profile-desc {
	color: #ddd;
	font-size: 32px;
	margin: 8px 0;
	font-weight: 600;
}

.dh-modal-close {
	height: 86px;
	width: 86px
}

#dh-lottery-history .dh-modal-content{
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	color: #fff;
}

#dh-lottery-history .dh-history-item{
	padding: 20px;
	border-bottom: solid 1px rgba(255, 255, 255, .3);
}

#dh-lottery-history .dh-history-item .dh-history-info{
	text-align: left;
}

#dh-lottery-history .dh-history-item .dh-history-user{
	width: 100%;
	text-align: left;
}

#dh-lottery-history .dh-history-item .dh-history-user>div{
	display: inline-block;
	width: 18vw;
	padding: 1vw;
}

#dh-lottery-history .dh-history-item .dh-history-user .avatar{
	width: 10vw;
	height: 10vw;
	border-radius: 100%;
}

.dh-history-clean{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: none;
	background-color: rgba(10, 10, 10, 0.7);
	border: none;
	border-radius: 290486px;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	outline: none;
	position: relative;
	vertical-align: top;
	position: absolute;
	right: 120px;
	top: 42px;
	width: 100px;
	height: 40px;
	color: #fff;
	border: 1px solid #fff;
}